@model Candidate
<div class="card">
    <h5 class="card-header">
        Add Candidate Form
        <a asp-action="Index" asp-controller="Home" class="btn btn-primary float-end">Home</a>
    </h5>
    <div class="card-body">
        @using (@Html.BeginForm("SaveCandidate", "Home"))
        {
            <table>
                <tr>
                    <td>@Html.LabelFor(m => m.CandidateName)</td>
                    <td> @Html.TextBoxFor(m => m.CandidateName, new { @class = "form-control" })</td>
                    <td><button type="submit" class="btn btn-primary">Save</button></td>
                </tr>
            </table>

        }
    </div>
</div>