@using Voting.Domain
@model Candidate
<div class="card">
    <h5 class="card-header">
        Add Candidate Form
        <a asp-action="Index" asp-controller="Home" class="btn btn-primary float-end">Home</a>
    </h5>
    <div class="card-body">
        @using (@Html.BeginForm("SaveCandidate", "Home"))
        {
            <table>
                <tr>
                    <td>
                        <div class="form-group row">
                            <label asp-for="CandidateName" class="col-sm-5 col-form-label"></label>
                            <div class="col-sm-5">
                                <input asp-for="CandidateName" class="form-control" placeholder="Cadidate Name" />
                            </div>
                            <div class="col-sm-2">
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        }
    </div>
</div>
<div>
    @if (Convert.ToBoolean(TempData["SaveCandidate"]) == false && TempData["SaveCandidate"] != null)
    {
        <div class="alert alert-danger">
            <strong>Invalid Voter Name!</strong>
        </div>
    }
    @if (Convert.ToBoolean(TempData["SaveCandidate"]) == true && TempData["SaveCandidate"] != null)
    {
        <div class="alert alert-success">
            <strong>You have registered voter successfully</strong>
        </div>
    }
</div>