
.remove-style {
    all: initial;
    // or all: unset
}

.table-wrap {
    height: 400px;
    overflow-y: auto;
}

table {
    height: 400px;
    overflow-y: auto;
    position: relative;
}

th {
    /* background: white; */
    position: sticky;
    top: 0;
}

